.revenue {
    border-radius: 8px;
    background: linear-gradient(90deg, #BB34F5 0%, #FCDBFF 100%);
}

.users {
    border-radius: 8px;
    background: linear-gradient(90deg, #D3A256 0%, #FDE8C0 100%);
}

.products {
    border-radius: 8px;
    background: linear-gradient(90deg, #FE4880 0%, #FECDE9 100%);
}

.orders {
    border-radius: 8px;
    background: linear-gradient(90deg, #6AAEFF 0%, #B6F7FF 100%);
}